@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|ZCOOL+XiaoWei');
*{
	padding: 0;
	margin: 0;
	font-family: 'ZCOOL XiaoWei', serif;
}
body{
	background: #e2ecec;
}
header{
	width: 100%;
	height: 90px;
	background: #669999;
	display: inline-block;
}
header nav{
	text-align: center;
	height: 85px;
	position: fixed;
	width: 100%;
	background: #669999;
	vertical-align: center;
	z-index: 99;
}
header nav ul{
	margin:auto;
}
header nav ul li{
	display: inline-flex;
	text-align: center;
	vertical-align: top;
	margin-top: 35px;
}
header nav ul li a{
	font-size: 18px;
	color: #f5f5f5;
	text-decoration: none;
	margin-left: 5px;
	transition: 0.2s;
}
header img{
	width: 75px;
	height: 75px;
	display: inline-flex;
}
nav ul li a:hover{
	transform: scale(1.25);
	opacity: 1;
	background: #40514e;
	margin: 0px 25px 0px 25px;
}
section img{
	width: 500px;
	height: 500px;
}

footer{
	width: 100%;
	height: 200px;
	background: #40514e;
	display: inline-block;
	vertical-align: center;
	padding: 10px 0px 10px 0px;
	text-align: center;
}
footer img{
	width: 40px;
	height: 40px;
	display: inline-block;
	margin: auto;
}
.ContenedorPrincipal{
	margin: 20px;
	padding: 20px;
	background: white;
	border-radius: 5px;
	box-shadow: 0 5px 0 rgba(0,0,0,0.2);
}
section#contefooter{
	width: 400px;
	height: 200px;
	display: inline-block;
	vertical-align: top;
	color: #fff;
}
section#contefooter a{
	text-decoration: none;
	color: #fff;
}
section#contefooter li{
	list-style: none;
}


/*Index*/

.carrusel {
	width: 100%;
	height: 560px;
	margin: auto;
	overflow: hidden;
	text-align: center;
}

.carrusel ul {
	display: flex;
	width: 300%;
	animation: cambio 20s infinite;
}

.carrusel li {
	width: 100%;
	list-style: none;
}

.carrusel ul li img {
	width: 100%;
	height: 560px;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
}

section#descripcionempresa{
	width: 100%;
	height: 400px;
	background: url(../img/Fondo1.jpg);
	background-size: cover;
	display: inline-block;
}
section#descripcionempresa article{
	width: 80%;
	margin: auto;
	margin-top: 140px;
	font-size: 30px;
	color: #fff;
	text-align: center;
	opacity: .85;
	font-family: 'Abril Fatface', cursive;
	z-index: 98;
}
section#descripcionempresa1{
	width: 100%;
	height: 300px;

}
section#descripcionempresa1 img{
	width: 634.5px;
	height: 300px;
	display: inline-block;
}
section#descripcionempresa1 section{
	width: 634.5px;
	height: 300px;
	vertical-align: top;
	display: inline-block;
	background: #e2ecec;
	margin-left: -4px;
}
section#descripcionempresa1 section article{
	font-size: 30px;
	color: #000;
	text-align: center;
	font-family: 'Abril Fatface', cursive;
	margin: 70px 80px 0px 80px;
}
/*Conocenos*/
article#articlenosotros{
	font-size: 50px;
	width: 100%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	/*border:1px solid;*/
	/*margin: auto;*/
}
article#articlenosotros p,#articlenosotros li {
	font-size: 30px;
	padding: 20px;
	margin: 20px;
}
article#articlenosotros p:first-letter{
	font-size: 30px;
}
.ImagenesNosotros{
	width: 100%;
	height: 400px;
	border-radius: .8em;
}

/*Estilos de CONTACTO*/

#contenedorcontacto{
	
	width: 400px;
	height: 400px;
	background: red;
	display: inline-block;
	vertical-align: top;
	margin: 15px;
}
#contenedorcontacto p{
	vertical-align: center;
	margin-top: 100px;
}
#formulariocontactanos{
	width: 800px;
	height: 500px;
	/*background: red;*/
	display: inline-block;
	margin: 15px;
	align-items: center;
	border: 2px solid;
}

#formulariocontactanos form{
	padding: 10px;
}
#formulariocontactanos form label{
	font-size: 20px;
	display: inline-block;
	vertical-align: top;
}
#formulariocontactanos form input{
	font-size: 20px;
	width: 450px;
	height: 30px;
	display: inline-block;
	border-radius: 5px;
	margin-bottom: 5px;
	border: 2px solid;
}
#formulariocontactanos form textarea{
	font-size: 20px;
	width: 600px;
	height: 175px;
	display: inline-block;
	border-radius: 5px;
	border: 2px solid;
}
/*PRODUCTOS*/
#producto{
	width: 290px;
	height: 450px;
	margin-left: 10px;
	background: #fff;
	border: 5px solid #e2ecec;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
#producto h2,#productodesc h2{
	margin-top:10px;
	text-align: center;
}
#producto img, #productodesc img{
	width: 240px;
	height: 300px;
	margin: 20px 10px 20px 10px;
}
#producto button{
	width: 150px;
	height: 50px;
	border-radius: 10px;
	background: #669999;
	color: #fff;
	font-size: 20px;
}
#producto button:hover{
	background: #40514e;
}
/*Producto descripcion*/
#productodesc{
	width: 1235px ;
	/*height: 450px;*/
	margin-left: 10px;
	background: #fff;
	border: 5px solid #e2ecec;
	border-radius: 10px;
}
#productodesc p{
	margin-left: 20px;
}
#productodesc img{
	margin: 20px;
	display: inline-block;
}
#productodesc article{
	margin: 20px;
	vertical-align: top;
	width: 650px ;
	/*height: 300px;*/
	display: inline-block;
}
.BotonesDescProd{
	vertical-align: top;
	margin:20px;
	width: 200px;
	display: inline-block;
}
.BotonesDescProd button,.BotonesDescProd input,.BotonesDescProd label{
	width: 150px;
	height: auto;
	padding: 5px;
	border-radius: 10px;
	background: #669999;
	color: #fff;
	font-size: 20px;
	margin: 20px;
}
.BotonesDescProd input,.BotonesDescProd label{
	background: #fff;
	color: #000;
	text-align: center;
}
/*DISTRIBUIDORES*/
a{
	text-decoration: none;
}
#distribuidor{
	width: calc(300px - 30px);
	height: calc(400px - 30px);
	background: #fff;
	display: inline-block;
	margin:22px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 10px;
	border: 5px solid #e2ecec;
}
#distribuidor img{
	position: relative;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #e2ecec;
	transition: 0.8s;
	z-index: 1;
}
#distribuidor article{
	margin: 30px 10px 30px 10px;
	width: 90%;
	color: #000;
}
#distribuidor article p{
	font-size: 20px;
	width: 90%;
}
#distribuidor article h3{
	text-align: center;
}
#distribuidor:hover img{
	top:20px;
	/*background: red;*/
	left: calc(50% - 30px);
	width: 60px;
	height: 60px;
	border-radius: 50%;
}


/*SESION*/
#contenedorsesion{
	width: 650px;
	height: 600px;
	background: #3828AF;
	display: inline-block;
	margin: 10px;
}





